NET "CC_as" LOC = J13;
NET "CC_as" IOSTANDARD = LVCMOS33;
NET "CC_sal" LOC = N12;
NET "CC_sal" IOSTANDARD = LVCMOS33;
INST "CLK_BUFGP" LOC = BUFGMUX0;
NET "CLK" LOC = T9;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "C_as" LOC = J14;
NET "C_as" IOSTANDARD = LVCMOS33;
NET "C_sal" LOC = P13;
NET "C_sal" IOSTANDARD = LVCMOS33;
NET "DEV_as" LOC = K13;
NET "DEV_as" IOSTANDARD = LVCMOS33;
NET "Entrega" LOC = P11;
NET "Entrega" IOSTANDARD = LVCMOS33;
NET "L_as" LOC = H13;
NET "L_as" IOSTANDARD = LVCMOS33;
NET "L_sal" LOC = N14;
NET "L_sal" IOSTANDARD = LVCMOS33;
NET "reset_maq" LOC = L14;
NET "reset_maq" IOSTANDARD = LVCMOS33;
NET "P1_as" LOC = M13;
NET "P1_as" IOSTANDARD = LVCMOS33;
NET "P2_as" LOC = M14;
NET "P2_as" IOSTANDARD = LVCMOS33;
NET "P3_as" LOC = L13;
NET "P3_as" IOSTANDARD = LVCMOS33;
NET "V_as" LOC = F12;
NET "V_as" IOSTANDARD = LVCMOS33;
NET "V_sal" LOC = K12;
NET "V_sal" IOSTANDARD = LVCMOS33;
NET "XX_as" LOC = H14;
NET "XX_as" IOSTANDARD = LVCMOS33;
NET "XX_sal" LOC = L12;
NET "XX_sal" IOSTANDARD = LVCMOS33;
NET "X_as" LOC = G12;
NET "X_as" IOSTANDARD = LVCMOS33;
NET "X_sal" LOC = P14;
NET "X_sal" IOSTANDARD = LVCMOS33;
NET "Digit_crtl[0]" LOC = E14;
NET "Digit_crtl[1]" LOC = G13;
NET "Digit_crtl[2]" LOC = N15;
NET "Digit_crtl[3]" LOC = P15;
NET "Digit_crtl[4]" LOC = R16;
NET "Digit_crtl[5]" LOC = F13;
NET "Digit_crtl[6]" LOC = N16;
NET "Digit_select[0]" LOC = D14;
NET "Digit_select[1]" LOC = G14;
NET "Digit_select[2]" LOC = F14;
NET "Digit_select[3]" LOC = E13;
NET "Digit_crtl[0]" IOSTANDARD = LVCMOS33;
NET "Digit_crtl[1]" IOSTANDARD = LVCMOS33;
NET "Digit_crtl[2]" IOSTANDARD = LVCMOS33;
NET "Digit_crtl[3]" IOSTANDARD = LVCMOS33;
NET "Digit_crtl[4]" IOSTANDARD = LVCMOS33;
NET "Digit_crtl[5]" IOSTANDARD = LVCMOS33;
NET "Digit_crtl[6]" IOSTANDARD = LVCMOS33;
NET "Digit_select[0]" IOSTANDARD = LVCMOS33;
NET "Digit_select[1]" IOSTANDARD = LVCMOS33;
NET "Digit_select[2]" IOSTANDARD = LVCMOS33;
NET "Digit_select[3]" IOSTANDARD = LVCMOS33;
